footer {
  min-height: 50px;
  background-color: $strong-cyan;
  color: $very-dark-cyan;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.5rem;
  font-size: 1.5rem;
}
