/*Custom normalize CSS*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

hr {
  border-width: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

button {
  appearance: none;
  border: none;
}

input {
  border: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2.4rem;
  font-family: "Space Mono", monospace;
}

label {
  font-size: 1.5rem;
  color: hsl(186deg, 14%, 43%);
  font-weight: 700;
}

.alert {
  font-size: 1.5rem;
  font-weight: 700;
  color: hsl(6deg, 48%, 63%);
}

input {
  font-family: "Space Mono", monospace;
  font-size: 2.4rem;
  font-weight: 700;
}

button {
  font-weight: 700;
  font-size: 2.4rem;
  font-family: "Space Mono", monospace;
}

a {
  background-color: hsl(183deg, 100%, 15%);
  color: hsl(0deg, 0%, 100%);
  font-weight: 700;
  transition: all 285ms ease-in-out;
}
a:hover {
  opacity: 0.8;
}

label,
input {
  display: block;
  width: 100%;
}

footer {
  min-height: 50px;
  background-color: hsl(172deg, 67%, 45%);
  color: hsl(183deg, 100%, 15%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.5rem;
  font-size: 1.5rem;
}

main {
  min-height: calc(100vh - 50px);
  background-color: hsl(185deg, 41%, 84%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  min-height: 50vh;
  margin: 10rem 0;
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 15px;
  padding: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.app::before {
  content: "SPLITTER";
  display: block;
  letter-spacing: 0.5rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -80px;
  color: hsl(186deg, 14%, 43%);
  font-weight: 700;
  width: 90px;
  line-height: 2.8rem;
  word-break: break-word;
}
.app__inputs {
  display: flex;
  flex-direction: column;
}
.app__results {
  background-color: hsl(183deg, 100%, 15%);
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.app__results--line {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.amount-selection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr 1fr 1fr;
  gap: 2rem;
  margin: 3rem 0;
}
.amount-selection label {
  grid-column: 1/3;
  grid-row: 1/2;
  align-self: end;
}

.tip {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.tip__amount, .tip__total {
  display: flex;
  flex-direction: column;
}
.tip__amount span:first-child, .tip__total span:first-child {
  color: hsl(0deg, 0%, 100%);
}
.tip__amount span:last-child, .tip__total span:last-child {
  font-size: 1.5rem;
  color: hsl(186deg, 14%, 43%);
}
.tip__amount--result, .tip__total--result {
  color: hsl(172deg, 67%, 45%);
  font-weight: 700;
}

.label {
  display: flex;
}
.label > label {
  flex: 1;
}

.input-alert {
  outline: 2px solid hsl(6deg, 48%, 63%) !important;
}

button {
  width: 100%;
  border-radius: 5px;
  min-height: 4rem;
  background-color: hsl(183deg, 100%, 15%);
  color: hsl(0deg, 0%, 100%);
  transition: all 285ms ease-in-out;
}
button:hover {
  background-color: hsl(185deg, 41%, 84%);
  color: hsl(183deg, 100%, 15%);
  cursor: pointer;
}

.clicked {
  background-color: hsl(185deg, 41%, 84%);
  color: hsl(183deg, 100%, 15%);
  cursor: pointer;
}

#reset_calc {
  background-color: hsl(172deg, 67%, 45%);
  text-transform: uppercase;
  color: hsl(183deg, 100%, 15%);
  margin-top: 2rem;
  min-height: 50px;
}
#reset_calc:hover {
  background-color: hsl(185deg, 41%, 84%);
  color: hsl(183deg, 100%, 15%);
  cursor: pointer;
}

input {
  background-color: hsl(180deg, 33%, 97%);
  min-height: 4rem;
  border-radius: 5px;
  text-align: right;
  color: hsl(183deg, 100%, 15%);
  padding: 1rem;
}
input:focus-visible {
  outline: 2px solid hsl(185deg, 41%, 84%);
}
input:not(#custom) {
  margin-top: 1rem;
}

#bill {
  background-image: url("../images/icon-dollar.svg");
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 15px;
}

#num-of-ppl {
  background-image: url("../images/icon-person.svg");
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 15px;
}

@media screen and (min-width: 1024px) {
  main {
    padding: 10rem 20rem;
  }

  .app {
    flex-direction: row;
    gap: 5rem;
  }
  .app::before {
    top: -120px;
  }
  .app .amount-selection {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr 1fr;
  }
  .app .amount-selection label {
    grid-row: 1/2;
    grid-column: 1/4;
  }
  .app__results {
    flex-basis: 100%;
    padding: 5rem;
  }
  .app__results--line {
    gap: 4rem;
  }
}
.tip__amount--result,
.tip__total--result {
  font-size: 3rem;
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .app {
    gap: 2rem;
  }
  .app__inputs {
    flex: 1;
  }
  .app__results {
    flex: 1;
    padding: 3rem;
  }

  .tip__amount--result,
.tip__total--result {
    font-size: 2.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
