html {
  font-size: 62.5%;
}

body {
  font-size: 2.4rem;
  font-family: "Space Mono", monospace;
}

label {
  font-size: 1.5rem;
  color: $dark-grayish-cyan;
  font-weight: 700;
}

.alert {
  font-size: 1.5rem;
  font-weight: 700;
  color: $alert-color;
}

input {
  font-family: "Space Mono", monospace;
  font-size: 2.4rem;
  font-weight: 700;
}

button {
  font-weight: 700;
  font-size: 2.4rem;
  font-family: "Space Mono", monospace;
}
